<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>266</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>170</integer>
		<key>y</key>
		<integer>266</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>260</integer>
		<key>y</key>
		<integer>266</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>350</integer>
		<key>y</key>
		<integer>266</integer>
	</dict>
    <dict>
		<key>x</key>
		<integer>125</integer>
		<key>y</key>
		<integer>174</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>215</integer>
		<key>y</key>
		<integer>174</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>305</integer>
		<key>y</key>
		<integer>174</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>395</integer>
		<key>y</key>
		<integer>174</integer>
	</dict>
    <dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>170</integer>
		<key>y</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>260</integer>
		<key>y</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>350</integer>
		<key>y</key>
		<integer>80</integer>
	</dict>
</array>
</plist>
